body {
	margin: 0;
	font-family: 'Poppins', sans-serif;
}

h2 {
	font-size: 40px;
	line-height: 25px;
}

h3 {
	font-size: 22px;
}

p {
	font-size: 18px;
	text-align: justify;
}

.flex-container {
	display: flex;
	margin-top: 150px;
}

.half-width {
	width: 40%;
	padding-left: 5%;
	padding-right: 8%;
}

.half-width img {
	width: 100%;
}

.about-title {
	border-left: 4px solid #ff5959;
	padding-left: 4px;
}

.text-color {
	color: #ffad5a;
}

.btn {
	text-decoration: none;
	background-color: #ff5959;
	padding: 10px 20px;
	color: white;
	font-weight: 700;
	border-radius: 5px;
}

.title-top {
	margin-top: 150px;
}

.text-center {
	text-align: center;
}

/* Vission-section */

.quarter {
	width: 30%;
	padding-left: 5%;
	margin-left: 3%;
	padding-right: 8%;
	border-radius: 10px;
	background-color: coral;
}
.quarter img {
	width: 50%;
}

#mission {
	background-color: #9e9e9e;
}

#mission:hover {
	background-color: #4f9da6;
}

#vission {
	background-color: #f1f1f1;
}

#vission:hover {
	background-color: #ff5959;
}

#goal {
	background-color: #fff4d6;
}

#goal:hover {
	background-color: #ffdddd;
}

.coding-section {
	background-image: url(../img/bg/code-bg.png);
	background-repeat: no-repeat;
	background-position: left;
}

.project-section {
	background-image: url(../img/bg/project-bg.png);
	background-repeat: no-repeat;
	background-position: right;
}
